* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.d-flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.active {
  font-weight: 900;
  color: #113057;
  border-bottom: 4px solid #113057;
}

.center {
  justify-content: center;
}

header {
  text-align: center;
}

.hide {
  text-align: center;
  visibility: hidden;
}

.hide .round {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 3px solid white;
  position: absolute;
  top: 30%;
  align-items: center;
}

.hide .round i {
  font-size: 20px;
  color: white;
}

.hide h2 {
  width: 100%;
  position: absolute;
  top: 55%;
  color: white;
  font-size: 38px;
}

.large-img-cont1 {
  height: 674px;
  width: 50%;
  position: relative;
}

.large-img-cont1:hover {
  background-color: #113057;
}

.large-img-cont1:hover img {
  opacity: 0.2;
  transition: 0s ease-in-out;
}

.large-img-cont1:hover .hide {
  visibility: visible;
}

.large-img-cont1 img {
  width: 100%;
}

.large-img-cont2 {
  height: 674px;
  width: 50%;
}

.large-img-cont2 .small-img {
  height: 337px;
  width: 337px;
  position: relative;
}

.large-img-cont2 .small-img:hover {
  background-color: #113057;
}

.large-img-cont2 .small-img:hover img {
  opacity: 0.2;
  transition: 0s ease-in-out;
}

.large-img-cont2 .small-img:hover .hide {
  visibility: visible;
}

.large-img-cont2 .small-img img {
  width: 100%;
}

.spot {
  height: 60px;
  background-color: #113057;
  align-items: center;
}

.spot p {
  color: white;
  font-size: 20px;
}

.box-img {
  height: 300px;
  width: 449px;
}

.box-img img {
  width: 100%;
}

nav {
  height: 50px;
  background-color: #B1D281;
}

nav ul {
  list-style-type: none;
  align-items: center;
}

nav ul li {
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: 700;
}

main {
  background-image: url("/img/fondo-pag-speciali.jpg");
  text-align: center;
}

main h2 {
  padding-top: 15px;
  padding-bottom: 20px;
  color: #113057;
}

main .container {
  margin-left: 15px;
}

main .pasta {
  height: 300px;
  width: 400px;
  margin: 20px;
  position: relative;
}

main .pasta:hover {
  transform: scale(1.1);
}

main .pasta:hover .over {
  visibility: visible;
}

main .pasta img {
  width: 100%;
}

main .pasta .over {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100px;
  width: 250px;
  flex-direction: column;
  align-items: center;
  visibility: hidden;
}

main .pasta .over h4 {
  font-size: 20px;
}

main .pasta .over img {
  margin-top: 10px;
  width: 40px;
  height: 40px;
}

footer {
  height: 700px;
}

footer img {
  height: 160px;
  width: 230px;
  margin-top: 120px;
  margin-right: 50px;
}

footer .col {
  margin-top: 120px;
  height: 500px;
  width: 270px;
  margin-right: 20px;
}

footer .col h3 {
  color: #0d2240;
  margin: 10px;
  font-size: 20px;
}

footer .col .no-color {
  color: #808080e0;
  margin-bottom: 28px;
}

footer .col .no-color:hover {
  color: #0d2240;
}

footer .col .small-txt {
  line-height: 1rem;
}

footer .col .small-txt li a {
  font-size: 13px;
}

footer .col ul {
  list-style-type: none;
  line-height: 1.5rem;
  margin-left: 10px;
  margin-bottom: 20px;
}

footer .col ul li a {
  font-size: 18px;
  text-decoration: none;
  color: #808080;
}

footer .col #contacts {
  margin-top: 10px;
  font-size: 12px;
  color: #808080;
  line-height: 1.1rem;
}

footer .col #contacts a {
  color: #808080;
}

footer .col #numeri {
  color: #808080;
  margin-top: 40px;
  margin-left: 25px;
  font-size: 18px;
  line-height: 1.5rem;
}

footer .col #numeri .numero {
  padding-left: 12px;
}

