* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.d-flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.active {
  font-weight: 900;
  color: #113057;
  border-bottom: 4px solid #113057;
}

.center {
  justify-content: center;
}

header {
  text-align: center;
}

nav {
  height: 50px;
  background-color: #B1D281;
}

nav ul {
  list-style-type: none;
  align-items: center;
}

nav ul li {
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: 700;
}

main {
  background-image: url("/img/fondo-pag-speciali.jpg");
  text-align: center;
}

main h2 {
  padding-top: 15px;
  padding-bottom: 20px;
  color: #113057;
}

main .container {
  margin-left: 15px;
}

main .pasta {
  height: 300px;
  width: 400px;
  margin: 20px;
  position: relative;
}

main .pasta:hover {
  transform: scale(1.1);
}

main .pasta:hover .over {
  visibility: visible;
}

main .pasta img {
  width: 100%;
}

main .pasta .over {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100px;
  width: 250px;
  flex-direction: column;
  align-items: center;
  visibility: hidden;
}

main .pasta .over h4 {
  font-size: 20px;
}

main .pasta .over img {
  margin-top: 10px;
  width: 40px;
  height: 40px;
}

