nav {
    height: 50px;
    background-color: #B1D281;
    ul {
        list-style-type: none;
        align-items: center;
        li {
            margin-right: 10px;
            a {
                text-decoration: none;
                color: white;
                font-weight: 700;
            }
        }
    }    
}